<div id="carousel-mountain-cams-blackcomb" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carousel-mountain-cams-blackcomb" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-mountain-cams-blackcomb" data-slide-to="1"></li>
    <li data-target="#carousel-mountain-cams-blackcomb" data-slide-to="2"></li>
    <li data-target="#carousel-mountain-cams-blackcomb" data-slide-to="3"></li>
    <li data-target="#carousel-mountain-cams-blackcomb" data-slide-to="4"></li>
    <li data-target="#carousel-mountain-cams-blackcomb" data-slide-to="5"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="https://secure.whistlerblackcomb.com/webcams/blkcam/3glaciercreek.jpg" alt="glacier creek">
      <div class="carousel-caption">
          Glacier Creek
      </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="https://secure.whistlerblackcomb.com/webcams/blkcam/4crystalroad.jpg" alt="crystal road">
      <div class="carousel-caption">
        Crystal Road
      </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="https://secure.whistlerblackcomb.com/webcams/blkcam/5couloir.jpg" alt="saudan couloir">
      <div class="carousel-caption">
        Saudan Couloir
      </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="https://secure.whistlerblackcomb.com/webcams/blkcam/6p2p.jpg" alt="peak2peak">
      <div class="carousel-caption">
        Peak 2 Peak Gondola
      </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="https://secure.whistlerblackcomb.com/webcams/blkcam/1solar.jpg" alt="whistler valley south">
      <div class="carousel-caption">
        Whistler Valley
      </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="https://secure.whistlerblackcomb.com/webcams/blkcam/2wishbone.jpg" alt="whistler valley north">
      <div class="carousel-caption">
        Whistler Valley
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carousel-mountain-cams-blackcomb" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carousel-mountain-cams-blackcomb" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>