<div class="panel-group" id="road-cams" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="road-cams-whistler">
      <h5 class="panel-title my-auto">
        <a class="pl-4 collapsed" role="button" data-toggle="collapse" data-parent="#road-cams" href="#collapse-road-cams-whistler" aria-expanded="false" aria-controls="collapse-road-cams-whistler">
          Whistler Area
        </a>
      </h5>
    </div>
    <div id="collapse-road-cams-whistler" class="panel-collapse collapse" role="tabpanel" aria-labelledby="road-cams-whistler">
      <div class="panel-body d-flex justify-content-center p-2 cam-bg">
        <%= render partial: "lifts/webcam_partials/whistler_road_cam" %>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="road-cams-s2s">
      <h5 class="panel-title my-auto">
        <a class="pl-4 collapsed" role="button" data-toggle="collapse" data-parent="#road-cams" href="#collapse-road-cams-s2s" aria-expanded="false" aria-controls="collapse-road-cams-s2s">
          Sea to Sky
        </a>
      </h5>
    </div>
    <div id="collapse-road-cams-s2s" class="panel-collapse collapse" role="tabpanel" aria-labelledby="road-cams-s2s">
      <div class="panel-body">
        <%= render partial: "lifts/webcam_partials/sea_to_sky_cams" %>
      </div>
    </div>
  </div>
</div>
