<div class="panel-group" id="road-cams-s2s-area" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="road-cams-s2s-north">
      <h5 class="panel-title my-auto">
        <a class="pl-5 collapsed" role="button" data-toggle="collapse" data-parent="#road-cams-s2s-area" href="#collapse-road-cams-s2s-north" aria-expanded="false" aria-controls="collapse-road-cams-s2s-north">
          North of Whistler
        </a>
      </h5>
    </div>
    <div id="collapse-road-cams-s2s-north" class="panel-collapse collapse" role="tabpanel" aria-labelledby="road-cams-s2s-north">
      <div class="panel-body d-flex justify-content-center p-2 cam-bg">
        <%= render partial: "lifts/webcam_partials/sea_to_sky_north" %>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="road-cams-s2s-south">
      <h5 class="panel-title my-auto">
        <a class="pl-5 collapsed" role="button" data-toggle="collapse" data-parent="#road-cams-s2s-area" href="#collapse-road-cams-s2s-south" aria-expanded="false" aria-controls="collapse-road-cams-s2s-south">
          South of Whistler
        </a>
      </h5>
    </div>
    <div id="collapse-road-cams-s2s-south" class="panel-collapse collapse" role="tabpanel" aria-labelledby="road-cams-s2s-south">
      <div class="panel-body d-flex justify-content-center p-2 cam-bg">
        <%= render partial: "lifts/webcam_partials/sea_to_sky_south" %>
      </div>
    </div>
  </div>
</div>