<div id="carousel-mountain-cams-7th-heaven" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carousel-mountain-cams-seventh-heaven" data-slide-to="0" class="active"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="https://secure.whistlerblackcomb.com/webcams/horstman/7thliftline.jpg" alt="seventh heaven liftline">
      <div class="carousel-caption">
          7th Heaven Liftline
      </div>
    </div>
  </div>
</div>