<div id="carousel-mountain-cams-7th-heaven" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carousel-mountain-cams-snow-stake" data-slide-to="0" class="active"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="http://common.snow.com/Mtncams/wbsnowstake.jpg" alt="snow stake">
      <div class="carousel-caption">
          Snow Stake <br>
          <small><em>(-- Facing)</em></small>
      </div>
    </div>
  </div>
</div>