commands:
  01_dd:
    command: echo “noswap”#dd if=/dev/zero of=/swapfile bs=1M count=3072
  02_mkswap:
    command: echo “noswap”#mkswap /swapfile
  03_swapon:
    command: echo “noswap”#swapon /swapfile

  04_node_get:
    # run this command from /tmp directory
    cwd: /tmp
    # flag -y for no-interaction installation (visit https://rpm.nodesource.com for latest)
    command: 'curl --silent --location https://rpm.nodesource.com/setup_11.x | sudo bash -'

  05_node_install:
    # run this command from /tmp directory
    cwd: /tmp
    command: 'sudo yum -y install nodejs'

packages:
  yum:
    postgresql93-devel: []
  git: []