# Create a copy of this file in this directory. Remove ".example" from its name, then replace the relevant text below:

ENV["EMAIL_USERNAME"] = "PUT EMAIL USERNAME HERE"
ENV["EMAIL_PASSWORD"] = "PUT EMAIL PASSWORD HERE"
ENV["AWS_REGION"] = "PUT REGION HERE"
ENV["AWS_ACCESS_KEY_ID"] = "PUT AWS ACCESS KEY HERE"
ENV["AWS_SECRET_ACCESS_KEY"] = "PUT AWS SECRET KEY HERE"