/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 @import 'bootstrap';
 @import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

body {
  margin: 0;
}

#accordion-all, .panel-title, .panel-group {
  background-color: #f7f7f7;
}

.panel-body {
  background-color: lightcyan;
}

// Position <a> elements w/in. .panel-title
.panel-title > a:first-child {
  display: block;
  position: relative;
}

// Render down-facing FA chevron on closed panels
.panel-title > a:first-child::after {
  content: "\f078"; 
  font-family: 'FontAwesome';
  position: relative;
  float: left;
  margin-top: 0.1em;
  margin-right: 15px;
  padding-left: 15px;
  font-size: 0.8em;

// Render up-facing FA chevron on open panels
}
.panel-title > a[aria-expanded="true"]:after {
  content: "\f077"; 
}

.lift-image, .avalanche-image, .snow-report-image {
  width: 200px;
}

.weather-image-primary, .weather-image-secondary {
  width: 150px;
}

.avalanche-alp {
  background-color: #ffffff;
}

.avalanche-tln {
  background-color: #c8d03c;
}

.avalanche-btl {
  background-color: #7c9f69;
}

.avalanche-th {
  background-color: black;
  color: white;
}

#avalanche-th {
  border-bottom: 1px solid white
}

.external-link {
  height: 1.5em;
}

.favorite-icon, .alert-icon {
  height: 2em;
}